{% extends 'products/base.html' %} {% load static %} {% load products_tags %} {% block css %}
<link rel="stylesheet" href="{% static 'index.css' %}" />
{% endblock %} {% block content %}
<div class="row">
  <div class="col-4">
    <div
      id="simple-list-example"
      class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center"
    >
      {% getcats as categories %}
      {% for category in categories %}
      <a class="p-1 rounded" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
      {% endfor %}
    </div>
  </div>
  <div class="col-8">
    <div
      data-bs-spy="scroll"
      data-bs-target="#simple-list-example"
      data-bs-offset="0"
      data-bs-smooth-scroll="true"
      class="scrollspy-example"
      tabindex="0"
    >
      {% for prod in catalog %}

      <h4 id="simple-list-item-1">Item 1</h4>
      <p>...</p>

      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
